<html>

<head>

<title>raspberry</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>

<body>

<h1><font size="6" color="red" face="verdana">Raspberry Pi</font></h1>

<!--<p><b><i><font size="3" color="gray" face="verdana">This is my first Python-based website that is running on my Raspberry Pi!</font></i></b></p>-->

<div class="list-group">
<big>
<a href="/off" class="list-group-item">off</a>
<a href="/party" class="list-group-item">party!</a>
<a href="/red" class="list-group-item disabled">red</a>
</big>
</div>

</body>

</html>
